// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-flag-gb-name: 'sp-i-flag-gb';
$sp-i-flag-gb-x: 0px;
$sp-i-flag-gb-y: 0px;
$sp-i-flag-gb-offset-x: 0px;
$sp-i-flag-gb-offset-y: 0px;
$sp-i-flag-gb-width: 32px;
$sp-i-flag-gb-height: 32px;
$sp-i-flag-gb-total-width: 69px;
$sp-i-flag-gb-total-height: 32px;
$sp-i-flag-gb-image: '../image/sprite.png';
$sp-i-flag-gb: (0px, 0px, 0px, 0px, 32px, 32px, 69px, 32px, '../image/sprite.png', 'sp-i-flag-gb', );
$sp-i-flag-nl-name: 'sp-i-flag-nl';
$sp-i-flag-nl-x: 37px;
$sp-i-flag-nl-y: 0px;
$sp-i-flag-nl-offset-x: -37px;
$sp-i-flag-nl-offset-y: 0px;
$sp-i-flag-nl-width: 32px;
$sp-i-flag-nl-height: 32px;
$sp-i-flag-nl-total-width: 69px;
$sp-i-flag-nl-total-height: 32px;
$sp-i-flag-nl-image: '../image/sprite.png';
$sp-i-flag-nl: (37px, 0px, -37px, 0px, 32px, 32px, 69px, 32px, '../image/sprite.png', 'sp-i-flag-nl', );
$sp-i-flag-gb-2x-name: 'sp-i-flag-gb@2x';
$sp-i-flag-gb-2x-x: 0px;
$sp-i-flag-gb-2x-y: 0px;
$sp-i-flag-gb-2x-offset-x: 0px;
$sp-i-flag-gb-2x-offset-y: 0px;
$sp-i-flag-gb-2x-width: 64px;
$sp-i-flag-gb-2x-height: 64px;
$sp-i-flag-gb-2x-total-width: 138px;
$sp-i-flag-gb-2x-total-height: 64px;
$sp-i-flag-gb-2x-image: '../image/sprite@2x.png';
$sp-i-flag-gb-2x: (0px, 0px, 0px, 0px, 64px, 64px, 138px, 64px, '../image/sprite@2x.png', 'sp-i-flag-gb@2x', );
$sp-i-flag-nl-2x-name: 'sp-i-flag-nl@2x';
$sp-i-flag-nl-2x-x: 74px;
$sp-i-flag-nl-2x-y: 0px;
$sp-i-flag-nl-2x-offset-x: -74px;
$sp-i-flag-nl-2x-offset-y: 0px;
$sp-i-flag-nl-2x-width: 64px;
$sp-i-flag-nl-2x-height: 64px;
$sp-i-flag-nl-2x-total-width: 138px;
$sp-i-flag-nl-2x-total-height: 64px;
$sp-i-flag-nl-2x-image: '../image/sprite@2x.png';
$sp-i-flag-nl-2x: (74px, 0px, -74px, 0px, 64px, 64px, 138px, 64px, '../image/sprite@2x.png', 'sp-i-flag-nl@2x', );
$spritesheet-width: 69px;
$spritesheet-height: 32px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-flag-gb, $sp-i-flag-nl, );
$spritesheet: (69px, 32px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 138px;
$retina-spritesheet-height: 64px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-flag-gb-2x, $sp-i-flag-nl-2x, );
$retina-spritesheet: (138px, 64px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-flag-gb-group-name: 'sp-i-flag-gb';
$sp-i-flag-gb-group: ('sp-i-flag-gb', $sp-i-flag-gb, $sp-i-flag-gb-2x, );
$sp-i-flag-nl-group-name: 'sp-i-flag-nl';
$sp-i-flag-nl-group: ('sp-i-flag-nl', $sp-i-flag-nl, $sp-i-flag-nl-2x, );
$retina-groups: ($sp-i-flag-gb-group, $sp-i-flag-nl-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
