include _mixin/mixin
include _mixin/macrosMixin

-
    const authUser = false;

doctype html
html(
    lang="en"
    class="js"
    ng-app="Eportfolio"
)

    //- MAIN LINK ATTR
    +headSite("Eportfolio | Registration Confirmation", linkSite.styleLinkMain, linkSite.styleLinkConfirm, "")


    body.background

        .body_overlay

        // HEADER
        include _template/header/_header

        // MENU
        include _template/menu/menu

        // MAIN
        #main.main

            include _template/confirm/confirm


    //- MAIN SCRIPT ATTR
    -for(let i = 0; i < linkSite.scriptLinkMain.length; i++)
        script(src= linkSite.scriptLinkMain[i])
    -for(let i = 0; i < linkSite.scriptLinkConfirm.length; i++)
        script(src= linkSite.scriptLinkConfirm[i])
